<div layout="row">
  <md-sidenav md-component-id="admin" class="md-sidenav-right">
    <md-list>
      <md-list-item>
        <md-button aria-label="users" ng-click="vm.users()">
          Users
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button aria-label="tabs" ng-click="vm.tabs()">
          Tabs
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button aria-label="schedule" ng-click="vm.schedule()">
          Schedule
        </md-button>
      </md-list-item>
    </md-list>
  </md-sidenav>
</div>
