<h1>Users</h1>
<md-list>
  <md-subheader>Administrators</md-subheader>
  <md-list-item>
    <p>Homer Simpson</p>
    <md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox>
  </md-list-item>
  <md-divider></md-divider>
  <md-subheader>Owners</md-subheader>
  <md-list-item>
    <p>Bart Simpson</p>
    <md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox>
  </md-list-item>
  <md-divider></md-divider>
  <md-subheader>Customers</md-subheader>
  <md-list-item>
    <p>Someone else</p>
    <md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox>
  </md-list-item>
  <md-list-item>
    <p>Another person</p>
    <md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox>
  </md-list-item>
</md-list>
