<md-card>
  <md-card-content>
    <h1>Users</h1>
    <md-list>
      <md-list-item>
        <div flex="45">
          <span class="md-body-2">Email</span>
        </div>
        <div flex="25">
          <span class="md-body-2">Roles</span>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ng-repeat="user in vm.users" class="user-item">
        <div flex="45">
          {{ user.email }}
        </div>
        <div flex="25">
          <md-chips class="roles-chips" ng-model="user.roles" readonly="true">
          </md-chips>
        </div>
        <div flex="30">
          <a class="md-button md-hue-2 md-primary" ng-click="vm.openModal($event, user)">edit</a>
          <a class="md-button md-hue-2 md-warn" ng-click="vm.deleteUser($event, user)">remove</a>
        </div>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
