<md-toolbar>
  <div layout="row">
    <div flex="66" layout-padding>
      <h1>Tropical BS</h1>
    </div>
    <div flex="33">
      <div layout="row" layout-align="end center">
          <div class="md-caption">
            {{ vm.user.email }}
          </div>
          <div>
            <md-menu md-position-mode="target-right target">
              <md-button aria-label="menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                <md-icon md-font-set="material-icons" ng-hide="vm.user.email"> person_outline </md-icon>
                <md-icon md-font-set="material-icons" ng-show="vm.user.email"> person </md-icon>
              </md-button>
              <md-menu-content width="3">
                <md-menu-item ng-hide="vm.user.email">
                  <md-button aria-label="sign-up" ui-sref="signup">
                    Sign up
                  </md-button>
                </md-menu-item>
                <md-menu-item ng-hide="vm.user.email">
                  <md-button aria-label="login" ui-sref="login">
                    Log in
                  </md-button>
                </md-menu-item>
                <md-menu-item ng-show="vm.user.email">
                  <md-button aria-label="logout" ng-click="vm.logout()">
                    Log Out
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
        </div>
    </div>
  </div>
  <md-tabs md-selected="selectedIndex" md-selected="selectedIndex">
    <md-tab md-active="vm.state.is(tab.uisref)" ng-repeat="tab in vm.tabs" ui-sref="{{tab.uisref}}" label="{{tab.title}}"></md-tab>
  </md-tabs>
</md-toolbar>
