<h1>Create a Page</h1>
<md-content layout-padding>
  <form ng-submit='create()' name='createPageForm'>
    <md-content layout-padding layout="column">
      <md-input-container>
        <label>Title</label>
        <input name="email" ng-model="page.title" type="text" required>
      </md-input-container>
      <md-input-container>
        <label>Slug</label>
        <input name='slug' ng-model="page.slug" type="text" required>
      </md-input-container>
      <md-input-container>
        <label>Content</label>
        <textarea name='content' ng-model="page.content"></textarea>
      </md-input-container>
    </md-content>
    <md-button class="md-raised md-primary" type='submit'>Create Page</md-button>
  </form>
</md-content>
