<div layout="row" layout-align="center center" md-theme>
  <div flex-sm="85" flex-md="65" flex-lg="50" flex-gt-lg="35" layout-padding layout-margin>
    <md-card>
      <md-card-content>
        <div layout="column" layout-fill>
          <md-toolbar class="md-primary">
            <h1 class="md-toolbar-tools" layout-fill>
              Check your email for the password Reset Token!
            </h1>
          </md-toolbar>
          <md-content layout-padding>
            <form name="vm.resetPasswordForm" ng-submit="vm.resetPasswordForm.$valid && vm.resetPassword() " >
              <md-content layout-padding layout="column">
                <md-input-container>
                  <label>Token</label>
                  <input name="token" ng-model="vm.user.token" type="text" required>
                  <div ng-messages="vm.resetPasswordForm.token.$error" ng-show="vm.resetPasswordForm.token.$touched">
                    <div ng-message="required" >This is required.</div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <label>New Password</label>
                  <input name="password" ng-model="vm.user.password" type="password" required ng-minlength="8">
                  <div ng-messages="vm.resetPasswordForm.password.$error" ng-show="vm.resetPasswordForm.password.$touched">
                    <div ng-message="reject">Email address or password incorrect</div>
                    <div ng-message="required">This is required.</div>
                    <div ng-message="minlength">Password must be at least 8 characters long.</div>
                  </div>
                </md-input-container>
              </md-content>
              <md-button class="md-raised md-primary" type="submit">Reset Password</md-button>
            </form>
          </md-content>
          <md-content layout-padding>
            Don't have an account yet? <a href="#/signup">Sign up!</a>
          </md-content>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>
