<div layout="row" layout-align="center center">
  <div flex='33' layout-padding layout-margin>
    <div layout="column" layout-fill>
      <md-toolbar class="md-primary">
        <h1 class="md-toolbar-tools" layout-fill>
          Sign Up
        </h1>
      </md-toolbar>
      <md-content layout-padding>
        <form ng-submit='vm.signup()' name="signupForm">
          <md-content layout-padding layout="column">
            <md-input-container>
              <label>Email</label>
              <input ng-model="vm.user.email" type="email" name="email" required>
              <div ng-messages="signupForm.email.$error" ng-show="signupForm.email.$touched">
                <div ng-message="reject">Email address already in use.</div>
                <div ng-message="required" >This is required.</div>
                <div ng-message="email" >Please use a valid email.</div>
              </div>
            </md-input-container>
            <md-input-container>
              <label>Password</label>
              <input ng-model="vm.user.password" type="password" name="password" ng-minlength="8" required>
              <div ng-messages="signupForm.password.$error" ng-show="signupForm.password.$touched">
                <div ng-message="required">This is required.</div>
                <div ng-message="minlength">Password must be at least 8 characters long.</div>
              </div>
            </md-input-container>
          </md-content>
          <md-button class="md-raised md-primary" type='submit'>Sign Up</md-button>
        </form>
      </md-content>
      <md-content layout-padding>
        Already have an account? <a href='#/login'>Log in!</a>
      </md-content>
    </div>
  </div>
</div>
